<tr>
  <td><%= link_to episode.show.name, show_episodes_path(episode.show) %></td>
  <td><%= episode.title %></td>
  <td><%= episode.season_number %></td>
  <td><%= episode.episode_number %></td>
  <td><%= "#{time_ago_in_words(episode.created_at)} ago" %></td>
  <% episode.torrents.each do |torrent| -%>
    <td><%= link_to torrent.file_format, torrent.file.url %></td>
  <% end -%>
</tr>
