<h1>Listing Episodes for <%= @show.name %></h1>

<table>
  <tr>
    <th>Season</th>
    <th>Episode</th>
    <th>Title</th>
    <th>Download</th>
  </tr>

<% @episodes.each do |episode| %>
  <tr>
    <td><%= episode.season_number %></td>
    <td><%= episode.episode_number %></td>
    <td><%= episode.name %></td>
    <td><%#= link_to 'torrent', episode.torrent.url %></td>
  </tr>
<% end %>
</table>

<br/>

<p><%= link_to 'Back to shows', shows_path %></p>
