<h1>
  <%= link_to @episode.show.name, show_episodes_path(@episode.show) %> -
  <%= @episode.title %>
</h1>

<div id="notice" class="row"><%= notice %></div>

<div class="row">
  <dl class="dl-horizontal">
    <dt>Season Number:</dt>
    <dd><%= @episode.season_number %></dd>
    <dt>Episode Number:</dt>
    <dd><%= @episode.episode_number %></dd>
    <dt>Timestamp</dt>
    <dd><%= "#{time_ago_in_words(@episode.created_at)} ago" %></dd>
    <dt>Torrents</dt>
    <dd>
      <ul class="unstyled">
      <% @episode.torrents.each do |torrent| %>
        <li>
          <%= link_to(torrent.file_format, torrent.file.url) if torrent %>
        </li>
      <% end -%>
      </ul>
    </dd>
  </dl>
</div>
<div class="row">
  <div class="span3 offset1">
    <p>
      <%= link_to 'Edit', edit_show_episode_path(@show, @episode) %> |
      <%= link_to 'Back', show_episodes_path(@show) %>
    </p>
  </div>
</div>
