<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @episode.title %>
</p>

<p>
  <b>Link:</b>
  <%= @episode.link %>
</p>

<p>
  <b>Guid:</b>
  <%= @episode.guid %>
</p>

<p>
  <b>Description:</b>
  <%= @episode.description %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
